<a href="https://colab.research.google.com/github/luwigidapo/LabActivities/blob/main/Lab2_Titanic_Dapo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Question 1: Steps in Cleaning the Dataset & Algorithm Choice

Loaded the dataset (train.csv)

In [1]:
import pandas as pd

df = pd.read_csv("/content/train - train.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

#Checked Data Structure

In [ ]:
df.info()
df.describe()
df.columns

# Identified Missing Values

In [2]:
print(df.isnull().sum())

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

# Handled Missing Values:
Filled Age with the median (28.0), as it is numerical and skewed.

In [ ]:
df["Age"].fillna(df["Age"].median(), inplace=True)

Dropped Cabin (too many missing values).

In [ ]:
df.drop(columns=["Cabin"], inplace=True)

Filled Embarked with the most common value ('S').

In [ ]:
df["Embarked"].fillna(df["Embarked"].mode()[0], inplace=True)

# Removed Duplicate Entries

In [ ]:
print("Duplicates before:", df.duplicated().sum())
df.drop_duplicates(inplace=True)
print("Duplicates after:", df.duplicated().sum())